DATABASE_URL=jdbc:postgresql://localhost:5432/your_database
DATABASE_USER=your_username
DATABASE_PASSWORD=your_password

# Spring profile to use, standard is "default"
SPRING_PROFILE=profile_name

# JWT Secret key
JWT_SECRET=super_secret_jwt_key

# Issuer name, don't use quotations.
JWT_ISSUER=Application name

# 8 hours approx. (Can be any value in ms)
JWT_EXPIRATION=30000000